body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* light grey  */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #CC5500;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.document-upload-section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

.document-upload-section label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.document-upload-section input[type="file"],
.document-upload-section input[type="text"],
.document-upload-section button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.upload-message {
  font-size: x-small;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.success {
  color: green;
}

.error {
  color: red;
}

.document-list {
  list-style: none;
  padding: 0;
}

.document-list-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.document-list-item button {
  background-color: #CC5500;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px; /* added margin between buttons */
}

.document-list-item button:hover {
  background-color: #b34500;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
